/*=========================================
        RESPONSIVE - TE HABLARÉ DE MÍ
=========================================*/

@media(max-width:480px){

    .about-block{
        margin-top:46px;
    }

    .about-intro{
        max-width:240px;
        font-size:14px;
    }

    .about-title{
        margin-bottom:24px;
        font-size:26px;
    }

    .about-cards{
        gap:14px;
        margin-top:22px;
    }

    .about-card{
        width:118px;
        height:154px;
    }

    .about-icon{
        width:32px;
        height:32px;
    }

    .about-icon.icon-large{
        width:54px;
        height:54px;
    }

    .about-card-front p{
        font-size:15px;
    }

    .about-card-back p{
        font-size:12px;
        line-height:1.3;
    }

}
/*=========================================
        RESPONSIVE - DECORACIÓN
=========================================*/

@media(max-width:480px){

    .branch{

        width:185px;

    }

    .lantern{

        width:58px;

    }

    .lantern-left{

        top:92px;
        left:68px;

    }

    .lantern-right{

        top:92px;
        right:68px;

    }

    .hero{
    min-height:100svh;
    height:auto;

    justify-content:center;

    padding:150px 22px 56px;
}
}

/*=========================================
        RESPONSIVE - CARTA / SOBRE
=========================================*/

@media(max-width:480px){

    .envelope-scene{
        min-height:100svh;
        align-items:flex-start;
        padding-top:28px;
        padding-bottom:28px;
    }

    .letter{
        max-height:88svh;
        overflow:hidden;
    }

    .letter-content{
        max-height:82svh;
        overflow-y:auto;
        padding-top:58px;
        padding-bottom:70px;
    }

}
/*=========================================
        AJUSTE FIRMA EN CELULAR
=========================================*/

@media (max-width: 600px){

    .developer-signature{
        bottom:28px;
        max-width:320px;
    }

    .developer-thanks{
        margin:0 auto 20px;
        font-size:14px;
        line-height:1.5;
    }

    .developer-studio{
        font-size:18px;
        letter-spacing:2px;
    }

    .developer-name{
        font-size:38px;
    }

    .developer-role{
        font-size:13px;
    }

}